# Node modules
node_modules/

# Build output
dist/
build/

# Editor/IDE specific files
.idea/
*.swp
*.swo

# Operating System files
.DS_Store
Thumbs.db

# Environment variables
.env

# TypeScript cache
.tsbuildinfo
